In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('homework_bd.csv')
housing.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import  SVR

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [5]:
housing.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [6]:
y = housing.medv

In [7]:
X = housing[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
X_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
37,0.01432,100.0,1.32,0,0.411,6.816,40.5,8.3248,5,256,15.1,392.90,3.95
25,0.15936,0.0,6.91,0,0.448,6.211,6.5,5.7209,3,233,17.9,394.46,7.44
130,0.05602,0.0,2.46,0,0.488,7.831,53.6,3.1992,3,193,17.8,392.63,4.45
295,4.75237,0.0,18.10,0,0.713,6.525,86.5,2.4358,24,666,20.2,50.92,18.13
205,0.49298,0.0,9.90,0,0.544,6.635,82.5,3.3175,4,304,18.4,396.90,4.54

In [10]:
y_train.head()

37     31.6
25     24.7
130    50.0
295    14.1
205    22.8
Name: medv, dtype: float64

In [11]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 17 to 42
Data columns (total 13 columns):
crim       67 non-null float64
zn         67 non-null float64
indus      67 non-null float64
chas       67 non-null int64
nox        67 non-null float64
rm         67 non-null float64
age        67 non-null float64
dis        67 non-null float64
rad        67 non-null int64
tax        67 non-null int64
ptratio    67 non-null float64
black      67 non-null float64
lstat      67 non-null float64
dtypes: float64(10), int64(3)
memory usage: 7.3 KB

In [12]:
y_test.describe()

count    67.000000
mean     21.191045
std       8.324748
min       5.600000
25%      16.450000
50%      20.300000
75%      23.450000
max      48.800000
Name: medv, dtype: float64

In [13]:
sc = StandardScaler()

In [14]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Program Files (x86)\Soft data analyst\Anaconda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Program Files (x86)\Soft data analyst\Anaconda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Program Files (x86)\Soft data analyst\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [15]:
X_train

array([[-0.43407044,  3.69859927, -1.37918852, ..., -1.6150676 ,
         0.38454662, -1.20336241],
       [-0.4140772 , -0.48362912, -0.58625244, ..., -0.26455413,
         0.4022683 , -0.68418507],
       [-0.42832224, -0.48362912, -1.21748063, ..., -0.31278675,
         0.38147941, -1.1289817 ],
       ...,
       [-0.20768805, -0.48362912,  1.21097477, ..., -1.8079981 ,
         0.15620964,  0.30656596],
       [-0.43321166,  3.07126501, -1.46146096, ..., -0.55394987,
         0.42998682, -0.93261663],
       [-0.36098428, -0.48362912,  1.53864603, ...,  1.32712246,
         0.42998682,  0.95516573]])

In [16]:
X_train = pd.DataFrame(X_train, columns = X.columns)
X_test = pd.DataFrame(X_test, columns = X.columns)

In [17]:
X_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.434070,3.698599,-1.379189,-0.261291,-1.253323,0.775596,-0.924075,2.309533,-0.511552,-0.859406,-1.615068,0.384547,-1.203362
1,-0.414077,-0.483629,-0.586252,-0.261291,-0.917643,-0.124379,-2.116021,0.982167,-0.744155,-0.993926,-0.264554,0.402268,-0.684185
2,-0.428322,-0.483629,-1.217481,-0.261291,-0.554746,2.285471,-0.464825,-0.303297,-0.744155,-1.227873,-0.312787,0.381479,-1.128982
3,0.219053,-0.483629,1.001038,-0.261291,1.486553,0.342715,0.688559,-0.692448,1.698177,1.538557,0.844796,-3.500363,0.906074
4,-0.368089,-0.483629,-0.162124,-0.261291,-0.046689,0.506347,0.548330,-0.242992,-0.627853,-0.578669,-0.023391,0.429987,-1.115593

In [18]:
X_test.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.304295,-0.483629,-0.411778,-0.261291,-0.101124,-0.368339,0.769190,0.336045,-0.627853,-0.561122,1.230657,-0.598325,0.779627
1,-0.422468,-0.483629,2.071998,-0.261291,0.288991,-0.618250,1.014591,-0.911390,-0.860456,-1.257117,0.314237,0.230959,0.824256
2,5.869891,-0.483629,1.001038,-0.261291,1.305105,-2.641334,1.161831,-1.088838,1.698177,1.538557,0.844796,-3.076065,3.710227
3,-0.059176,-0.483629,1.210975,-0.261291,2.919999,-1.037742,0.983039,-1.156382,-0.511552,0.000352,-1.807998,-0.081783,1.399962
4,-0.364345,0.352817,-1.003289,-0.261291,0.887772,3.128919,0.863845,-0.767536,-0.511552,-0.812616,-2.627953,0.315932,-0.911790

Логистическая

In [19]:
linear = LinearRegression()
linear

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
y_test_pred_lin = linear.predict(X_test)

In [22]:
mean_squared_error(y_test, y_test_pred_lin)

31.57390009166804

In [23]:
r2_score(y_test, y_test_pred_lin)

0.5374945251873013

In [24]:
mean_absolute_error(y_test, y_test_pred_lin)

4.154043417396959

Дерево

In [25]:
treer = DecisionTreeRegressor()
treer

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [26]:
treer.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [27]:
y_test_pred_treer = treer.predict(X_test)

In [28]:
mean_squared_error(y_test, y_test_pred_treer)

17.981940298507464

In [29]:
r2_score(y_test, y_test_pred_treer)

0.7365942816164963

In [30]:
mean_absolute_error(y_test, y_test_pred_treer)

3.1626865671641795

Векторы

In [31]:
svr = SVR()
svr

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [32]:
svr.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [33]:
y_test_pred_svr = svr.predict(X_test)

In [34]:
mean_squared_error(y_test, y_test_pred_svr)

24.132100659952414

In [35]:
r2_score(y_test, y_test_pred_svr)

0.6465045926681563

In [36]:
mean_absolute_error(y_test, y_test_pred_svr)

3.4871340531951316