**Задание 1**
* Дан список вида: data. Напишите функцию, которая возвращает сумму элементов на диагонали. Т. е. 13+32+23+35.

In [1]:
data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35],
]
cnt = 0
for i in range(4):
    y = int(data[i][i])
    cnt+=y
print(cnt)

103

**Задание 2**
* Дан список чисел, часть из которых имеют строковый тип или содержат буквы. Напишите функцию, которая возвращает сумму квадратов элементов, которые могут быть числами.

In [2]:
data = [1, '5', 'abc', 20, '2']
y = data[1]
cnt = 0
for i in range(5):
    y = str(data[i])
    if y.isdigit() == True:
        cnt+= int(y)*int(y)
print(cnt)

430

**Задание 3**
* Напишите функцию, которая возвращает название валюты (поле ‘Name’) с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js

In [2]:
import pandas as pd
import json
a = pd.read_json('https://www.cbr-xml-daily.ru/daily_json.js')

In [3]:
a['Valute']['JPY']['Value']

58.3964

In [4]:
a['Valute'].keys()

Index(['AMD', 'AUD', 'AZN', 'BGN', 'BRL', 'BYN', 'CAD', 'CHF', 'CNY', 'CZK',
       'DKK', 'EUR', 'GBP', 'HKD', 'HUF', 'INR', 'JPY', 'KGS', 'KRW', 'KZT',
       'MDL', 'NOK', 'PLN', 'RON', 'SEK', 'SGD', 'TJS', 'TMT', 'TRY', 'UAH',
       'USD', 'UZS', 'XDR', 'ZAR'],
      dtype='object')

In [5]:
def max_rate_show(data):
    cnt = 0
    keys_list = data['Valute'].keys()
    for key in keys_list:
        b = data['Valute'][key]['Value']
        if b > cnt:
            cnt = b
    return cnt
max_rate_show(a)

94.632

In [6]:
def max_rate_show2(data):
    cnt = 0
    keys_list = data['Valute'].keys()
    for key in keys_list:
        b = data['Valute'][key]['Value']
        if b > cnt:
            cnt = b
    for key in keys_list:
        b = data['Valute'][key]['Value']
        if cnt == b:
            return data['Valute'][key]['Name'], data['Valute'][key]
        
        
max_rate_show2(a)

('Датских крон',
 {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 10,
  'Name': 'Датских крон',
  'Value': 94.632,
  'Previous': 94.7971})

In [7]:
def max_rate_show3(data):
    cnt = 0
    keys_list = data['Valute'].keys()
    for key in keys_list:
        nom = data['Valute'][key]['Nominal']
        b = data['Valute'][key]['Value'] / nom
        if b > cnt:
            cnt = b
    for key in keys_list:
        b = data['Valute'][key]['Value']
        if cnt == b:
            return data['Valute'][key]['Name'], data['Valute'][key]
max_rate_show3(a)

('СДР (специальные права заимствования)',
 {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 87.1245,
  'Previous': 86.8458})

**Задание 4**
* Напишите функцию, возвращающую сумму первых n чисел Фибоначчи

In [11]:
#Напишите функцию, возвращающую сумму первых n чисел Фибоначчи
def fib(k):
    if k == 1:
        print(1, end = ' ')
        return (k, 0)
    i, j = fib (k - 1)
    print (i+j, end = ' ')
    return (i+j, i)
fib(5)

1 1 2 3 5

(5, 3)

**Задание 5**
* Напишите функцию, преобразующую произвольный список вида [‘2018-01-01’, ‘yandex’, ‘cpc’, 100] в словарь {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}}

In [12]:
list_ = ['2018-01-01', 'yandex', 'cpc', 100]
def list_to_dict(data):
    print({data[0]: {data[1]: {data[2]: data[3]}}})
list_to_dict(list_)

{'2018-01-01': {'yandex': {'cpc': 100}}}